.weapon-modal {
    /*background-color: rgb(212, 194, 101);*/
    /* 151, 138, 70 */
    background-image: url('./weapon_scroll.PNG');
    background-repeat: repeat;
}

.weapon-header {
    /*background-color: rgb(72, 52, 0);*/
    background-image: url('./wood.jpg');
    color: rgb(255, 255, 255);
}

.spell-header {
    background-image: url('./space.jpg');
    color: rgba(255, 255, 255, 0.951);
    text-align: center;
}

.spell-modal-dark {
    background-color: rgb(32, 6, 35);
    color: rgba(255, 255, 255, 0.74);
}

.spell-modal-light {
    background-color: rgb(224, 255, 254);
    color: rgba(0, 0, 0, 0.74);
}


.property-link {
    cursor: pointer; /* Change the cursor to a pointer when hovering */
    color: rgb(95, 57, 0); /* Change the text color to blue to make it look like a link */
    font-weight: bold;
  }

.component-link {
    cursor: pointer; /* Change the cursor to a pointer when hovering */
    color: rgb(7, 142, 179); /* Change the text color to blue to make it look like a link */
    font-weight: bold;
}