.weapon-modal {
    /*background-color: rgb(212, 194, 101);*/
    /* 151, 138, 70 */
    background-image: url('./weapon_scroll.PNG');
    background-repeat: repeat;
}

.weapon-header {
    /*background-color: rgb(72, 52, 0);*/
    background-image: url('./wood.jpg');
    color: rgb(255, 255, 255);
}

.spell-header {
    background-image: url('./space.jpg');
    color: rgba(255, 255, 255, 0.951);
    text-align: center;
}

.spell-modal-dark {
    background-color: rgb(32, 6, 35);
    color: rgba(255, 255, 255, 0.74);
}

.spell-modal-light {
    background-color: rgb(224, 255, 254);
    color: rgba(0, 0, 0, 0.74);
}


.property-link {
    cursor: pointer; /* Change the cursor to a pointer when hovering */
    color: rgb(95, 57, 0); /* Change the text color to blue to make it look like a link */
    font-weight: bold;
  }

.component-link {
    cursor: pointer; /* Change the cursor to a pointer when hovering */
    color: rgb(7, 142, 179); /* Change the text color to blue to make it look like a link */
    font-weight: bold;
}

.roll-options-table {
    background-color: rgb(193, 193, 193);
}

.roll-header {
    background-color: rgb(11, 161, 203);
    color: white;
}

.roll-modal {
    background-color: rgb(255, 245, 232);
}

.arrow {
    display: inline-block;
    width: 0.5em; /* Adjust the width as needed */
    height: 0.5em; /* Adjust the height as needed */
    margin-left: 5px; /* Adjust the margin as needed to create space between the text and the arrow */
    margin-bottom: 3px;
    transform-origin: center;
    transition: transform 0.3s; /* Add a smooth transition effect */
  
    /* Style the arrow with an empty triangle (>) */
    content: "";
    border-left: 0.25em solid transparent; /* Adjust the thickness as needed */
    border-right: 0.25em solid transparent; /* Adjust the thickness as needed */
    border-bottom: 0.25em solid black; /* Adjust the color and thickness as needed */
  }
  
  .arrow.expanded {
    transform: rotate(180deg); /* Rotate the arrow 180 degrees when expanded */
    margin-top: 6px;
    margin-bottom: 0px;
  }

  .arrow.collapsed {
    transform: rotate(0deg);
  }
  
  