.weapon-modal {
    /*background-color: rgb(212, 194, 101);*/
    /* 151, 138, 70 */
    background-image: url('./weapon_scroll.PNG');
    background-repeat: repeat;
}

.weapon-header {
    background-color: rgb(72, 59, 0);
    color: rgba(255, 255, 255, 0.74);
}

.property-link {
    cursor: pointer; /* Change the cursor to a pointer when hovering */
    color: rgb(0, 0, 0); /* Change the text color to blue to make it look like a link */
  }