<!DOCTYPE html>
<html>
 <head>
 <title>D&D 5e Wizard</title>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
 </head>
 <body>
    <div class=""container">
        <h2>Welcome to Home Page</h2>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}  
            {{form.as_p}}
            <button type="submit" class="save btn btn-default">Adventure!</button>
        <!--<div class="mb-3">
        #    <label for="formFileSm" class="form-label">Upload your character sheet here.</label>
        #    <input class="form-control form-control-sm" id="formFileSm" type="file" name="CharacterFile">
        #</div>!-->
        </form>




        <div>
            <p>Download the character sheet template from the link below: 
                <div class=""d-flex gap-2 mb-3>
                <button type="button" class="btn btn-success"><svg xmlns="http://www.w3.org/2000/svg" width="16" 
                    height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                    ::before
                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 
                    0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"></path>
                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 
                    0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"></path>
                </svg>
                " Button "
                </button></div>
                </p>
        </div>
    </div>
 </body>
</html>