.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom CSS for active and inactive tabs */
.nav-tabs .nav-link {
  color: black; /* Default color for inactive tabs */
  background-color: transparent; /* Default background color for inactive tabs */
}

.nav-tabs .nav-link.active {
  color: white; /* Text color for active tab */
  background-color: black; /* Background color for active tab */
}

.left-panel {
  width: 300px; /* Adjust width as needed */
  background-color: #6b6b6b; /* Set background color */
  padding: 20px;
  /* Add other styling as needed */
}